:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  font-family: "Comfortaa", "Fira Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;

  color: #030A06;
  background-color: #EBF8ED;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


