:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  font-family: "Comfortaa", "Fira Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;

  color: #030A06;
  background-color: #EBF8ED;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/*======================= ADVANTAGES =======================*/

.advantages{
    background-color: #ebf8ed;;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.title{
font-family: "Fira Sans", sans-serif;
color: #030a06;
line-height: 1.5;
font-family: "Fira Sans", sans-serif;
font-weight: 600;
font-size: 16px;
gap: 0;
text-align: left;
}

.heading{
font-family: "Comfortaa", sans-serif;
}

.title-text{
font-family: "Fira Sans", sans-serif;
}


/*======================= advantages-mobile ======================= */
.advantages{
display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: column;
gap: 48px;
padding-block: 32px;
padding-inline: 16px;
width: 320px;
height: 1470px;
}
.container-advantages {
display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: column;
gap: 12px;
width: 288px;
height: 272px;

margin: 16px 32px 16px 48px;

}
.title{
    margin: 0 auto;
    ;
@media screen and (min-resolution: 192dpi) {

}



/*======================= advantages-tablet ======================= */
@media screen and (min-width: 768px) {

}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {}



/*======================= advantages-desktop =======================*/
@media screen and (min-width: 1440px) {

}

@media screen and (min-width: 1440px) and (min-resolution: 192dpi) {

}